.hero-container {
  height: 60vh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5vh 0;

  img {
    max-width: 70%;
    margin: 0 auto;
    -webkit-animation: puff-in-center 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) 1s both;
    animation: puff-in-center 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) 1s both;
  }

  .title-primary {
    -webkit-animation: tracking-in-expand 0s cubic-bezier(0.075, 0.820, 0.165, 1.000) 1.5s backwards;
    animation: tracking-in-expand 0s cubic-bezier(0.075, 0.820, 0.165, 1.000) 1.5s backwards;
  }

  .subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) 1.85s backwards;
    animation: tracking-in-expand 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) 1.85s backwards;
    margin-top: 30px;

    h2 {
      -webkit-text-stroke: 1.5px black;
      font-size: 2.5em;
    }
  }

  .btn-primary {
    -webkit-animation: puff-in-center 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) 2.2s both;
    animation: puff-in-center 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) 2.2s both;
  }
}

@media screen and (max-width: 750px) {
  .hero-container img{
    max-width: 100%;
  }
  .hero-container .subtitle h2{
    font-size: 1.5em;
  }
}

